@model IEnumerable<SolarManager.Models.SubUser>

@{
    ViewBag.Title = "Index";
}

<h3>@ViewBag.Error</h3>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Error</h3>

<p>
    @Html.ActionLink("Add New User", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubUserPin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubUserPin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SubUserID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SubUserID })
                @if (!item.Admin)
                {
                    if (User.IsInRole("Admin"))
                    {

                    }
                    @Html.ActionLink("Delete", "Delete", new { id = item.SubUserID })
                }

            </td>
        </tr>
    }

</table>
