@model IEnumerable<SolarManager.Models.SubUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubUserPin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubUserPin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubUserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubUserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubUserID })
        </td>
    </tr>
}

</table>
